.content__wrap-show {
    .form-control {
        height: 60px;
        line-height: 3.25;
        font-size: 1.3rem;
    }
    padding: 0 10px;
    .QuizManage__wrap {
        .border.p-2 {
            border-radius: 5px;
        }
    }
    .wrapper__list-quiz {
        margin-top: 60px;
        .wrap__btn {
            display: flex;
            gap: 10px;
        }
    }
}
.option_label {
    font-size: 1.5;
    font-weight: 600;
}
