.content__wrap-show {
    .QuizManage__wrap {
        .border.p-2 {
            border-radius: 5px;
            .form-control {
                height: 60px;
                line-height: 3.25;
            }
        }
    }
    .wrapper__list-quiz {
        margin-top: 60px;
        .wrap__btn {
            display: flex;
            gap: 10px;
        }
    }
}
.option_label {
    font-size: 1.5;
    font-weight: 600;
}
